# Node
node_modules

# next.js
.next

# Typescript
next-env.d.ts

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Caches
.eslintcache
.cspellcache

# Generated
*generated*

# Env
.env
